# Binaries for programs and plugins
logpipe
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.prof
*.coverprofile

# Output of the go coverage tool
*.out

vendor/
*.coverprofile
